@model DynamicPermission.AspNetCore.ViewModels.Role.RoleClaimsViewModel

<h1>Role Permissions</h1>

<input type="hidden" asp-for="Id" />

@{
    if (!Model.AreaViewModels.Any())
    {
        <h3>No Found Permission.</h3>
    }
    else
    {
        foreach (var areaViewModel in Model.AreaViewModels)
        {
            foreach (var controllerViewModel in areaViewModel.ControllerViewModels)
            {
                <table>
                    <tr>
                        <th>
                           @controllerViewModel.Controller.Value
                        </th>
                    </tr>
                    
                    <tr>
                        <td>
                            @{
                                foreach (var actionViewModel in controllerViewModel.ActionViewModels)
                                {
                                    var value = $"{areaViewModel.Area.Type}|{controllerViewModel.Controller.Type}|{actionViewModel.Action.Type}";
                                    var text = $"{areaViewModel.Area.Value}|{controllerViewModel.Controller.Value}|{actionViewModel.Action.Value}";

                                    if (actionViewModel.Selected)
                                    {
                                        <div class="col-6">
                                            <input type="checkbox" value="@value" checked="checked"/>@text
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <input type="checkbox" value="@value"/>@text
                                        </div>
                                    }
                                }
                            }
                        </td>
                    </tr>
                </table>
              
            }
        }

        <br />
        <button class="btn btn-primary" id="btn-roleClaims" type="button">Submit</button>
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function() {

        $("#btn-roleClaims").click(function () {

            var selectedClaims = [];
            $('input[type=checkbox]:checked').each(function (){
                selectedClaims.push($(this).val());
            });

            $.ajax({
                method: "POST",
                url: "@Url.Action("RoleClaims","Role")",
                data: {
                    Id: $("#Id").val(),
                    SelectedClaims: selectedClaims
                }
            }).done(function (){
                window.location.replace("@Url.Action("Index","Role")");
            });

        });

    });
</script>